/* Main style */
body {
  background-color: #3498db;
  color: white;
  font-family: Futura, Helvetica, "Century Gothic";
  text-shadow: 1px 1px 0px black;
}
p {
  font-size: 1.2rem;
}

a {
  color: white;
}
a:hover {
  color: red;
}
h1 {
  font-size: 3rem;
  font-weight: normal;
  text-align: center;
}

textarea {
  font-size: 1.25rem;
  font-family: courier;
}

/* BUTTON FROM https://github.com/eisenfox/css3-button-hovers */
button {
  background: purple;
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-size: 18px;
  padding: 20px 0px;
  width: 150px;
  border-radius: 6px;
  overflow: hidden;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
button#play:before {
  content: "\25BA";
}
button#stop:before {
  content: "\25FC";
}
button:before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0 50% 50% 0;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
button:hover {
  text-indent: 30px;
}
button:hover:before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  text-indent: 0;
}
